#info {
font-size: 12px;
  position:relative;
  color:#fff;
  background-color:blue;
  z-index: 1;
  border-radius: 6px;
}

.mapTile,.mapboxgl-map{
  margin: 0 auto;
}
.map-holder, .map-info-holder {
padding: 5px;
  width: 100%;
border: 1px solid #eee;
}

.add-review-form .add-review-container .mapboxgl-map {
  position: relative;
  top:10px;
  left:10px;
  height: 80vh;
  width: 80vw;
  border: 1px solid #8B0000;
margin:10px;
padding:5px;

}
