#info {
font-size: 12px;
  position:relative;
  color:#fff;
  background-color:blue;
  z-index: 1;
  border-radius: 6px;
}
.distance-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}
.mapTile,.mapboxgl-map{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.map-holder, .map-info-holder {
  display:inline-block;
  width: 100%;
  vertical-align: top;
  padding: 5px;
  width: 100%;
  border: 1px solid #eee;
}


.add-review-form .add-review-container .mapboxgl-map {
  position: relative;
  top:10px;
  left:-20px;
  height: 100vh;
  width: 80vw;
  border: 2px solid #eee;
  margin:10px;
  padding:5px;

}
.mapbox-directions-instructions-wrapper {
    max-height: 30vh;
  }

.mapbox-directions-step{
  font-size: 12px;
}
@media only screen and (min-width: 500px){
  .map-holder{
    width: 58%;
  }
  .map-info-holder{
      width: 38%;
  }

}
  @media only screen and (min-width: 300px){
    .directions-control.directions-control{
        width:70%!important;
          max-width: 70%!important;
        }
  }
